{% extends "clinic/wrappers/base.html" %} 
{% load static %} 

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Home</li>
          <li><a href="#">Resources</a></li>
          {% comment %} <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li> {% endcomment %}
        </ul>
      </div>
</div>
<div>
    <div id="maincontainer"></div>
    <div class="callout primary">
    
        <h2>Welcome to Django and Vue</h5>
        <p>This is a simple code project</p>
        <div id="app">
            <p>[[ successmsg ]]</p>
            <a href="#0">Test did not succeed.</a>
        </div>
    </div>
    </div>
{% endblock %}