{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock %}
    </title>
    {% block common_css %}
    <link rel="stylesheet" href="{% static 'clinic/foundation/css/foundation.css' %}" />
    {% endblock %}

    {% block css %}
    {% endblock %}
  </head>
  <body>

    {% block topbar %}
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">
          {% block brand-name %}
          Shorten App
          {% endblock %}
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Dashboard</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->
    {% endblock %}



  {% block bodytitle %}
  <div class="callout large primary">
    <div class="row column text-center">
      <h1>Our Blog</h1>
    </div>
  </div>
  {% endblock %}

  
    <div class="row" id="content">
      <div class="medium-8 columns">
        {% block content %}
        <div class="blog-post">
          
      
          <h3>Awesome blog post title <small>3/6/2015</small></h3>
          <img class="thumbnail" src="https://placehold.it/850x350">
          <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
          <div class="callout">
            <ul class="menu simple">
              <li><a href="#">Author: Mike Mikers</a></li>
              <li><a href="#">Comments: 3</a></li>
            </ul>
          </div>
          {% endblock %}
        </div>

        <div class="blog-post">
          <h3>Awesome blog post title <small>3/6/2015</small></h3>
          <img class="thumbnail" src="https://placehold.it/850x350">
          <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
          <div class="callout">
            <ul class="menu simple">
              <li><a href="#">Author: Mike Mikers</a></li>
              <li><a href="#">Comments: 3</a></li>
            </ul>
          </div>
        </div>

        <div class="blog-post">
          <h3>Awesome blog post title <small>3/6/2015</small></h3>
          <img class="thumbnail" src="https://placehold.it/850x350">
          <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
          <div class="callout">
            <ul class="menu simple">
              <li><a href="#">Author: Mike Mikers</a></li>
              <li><a href="#">Comments: 3</a></li>
            </ul>
          </div>
        </div>

        <div class="blog-post">
          <h3>Awesome blog post title <small>3/6/2015</small></h3>
          <img class="thumbnail" src="https://placehold.it/850x350">
          <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
          <div class="callout">
            <ul class="menu simple">
              <li><a href="#">Author: Mike Mikers</a></li>
              <li><a href="#">Comments: 3</a></li>
            </ul>
          </div>
        </div>
      
      </div>
      {% comment %} <div class="medium-3 columns" data-sticky-container>
        <div class="sticky" id="app" data-sticky data-anchor="content">
          <h4>Categories</h4>
          <ul>
            <li><a href="#">Skyler</a></li>
            <li><a href="#">Jesse</a></li>
            <li><a href="#">Mike</a></li>
            <li><a href="#">Holly</a></li>
          </ul>

          <h4>Authors</h4>
          <ul>
            <li><a href="#">Skyler</a></li>
            <li><a href="#">Jesse</a></li>
            <li><a href="#">Mike</a></li>
            <li><a href="#">Holly</a></li>
          </ul>
        </div>
      </div> {% endcomment %}
    </div>
  
    <div class="row column">
      <ul class="pagination" role="navigation" aria-label="Pagination">
        <li class="disabled">Previous</li>
        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li class="ellipsis"></li>
        <li><a href="#" aria-label="Page 12">12</a></li>
        <li><a href="#" aria-label="Page 13">13</a></li>
        <li><a href="#" aria-label="Next page">Next</a></li>
      </ul>
    </div>
  


  {% block common_js %}
  <script type="text/javascript" src="{% static 'clinic/vue/dist/js/chunk-vendors.js' %}"></script>
    <script type="text/javascript" src="{% static 'clinic/vue/dist/js/app.js' %}"></script>
    <script src="{% static 'clinic/jquery/jquery.js' %}"></script>
    <script src="{% static 'clinic/foundation/js/foundation.js' %}"></script>
    <script>
        $(document).foundation();
  </script>
  {% endblock %}
  </body>
</html>



